{% if weather_data1 %}

    <div class="city-container">
        <h1>{{ weather_data1.city }}</h1>
        <h2>{{ weather_data1.temperature }}°C</h2>
        <p>{{ weather_data1.description }}</p>
        <p>Precipitation: {{ weather_data1.precipitation }}%</p>
        <p>Cloudiness: {{ weather_data1.cloudiness }}%</p>
        <img src="http://openweathermap.org/img/w/{{ weather_data1.icon }}.png" alt="{{ weather_data1.description }}">
        {% if displayed_forecasts1 %}
            <h2>Forecast</h2>
            <div class="forecast-container">
                {% for forecast in displayed_forecasts1 %}
                    <div class="forecast">
                        <h3>{{ forecast.datetime }}</h3>
                        {% if forecast.temperature.min != forecast.temperature.max %}
                            <p>Temperature: {{ forecast.temperature.min }}°C - {{ forecast.temperature.max }}°C</p>
                        {% else %}
                            <p>Temperature: {{ forecast.temperature.min }}°C</p>
                        {% endif %}
                        <p>Feels like: {{ forecast.feels_like }}°C</p>
                        <p>{{ forecast.description }}</p>
                        <img src="https://openweathermap.org/img/w/{{ forecast.icon }}.png" alt="{{ forecast.description }}">
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endif %}

{% if weather_data2 %}
<div class="city-container">
    <h1>{{ weather_data2.city }}</h1>
    <h2>{{ weather_data2.temperature }}°C</h2>
    <p>{{ weather_data2.description }}</p>
    <p>Precipitation: {{ weather_data2.precipitation }}%</p>
    <p>Cloudiness: {{ weather_data2.cloudiness }}%</p>
    <img src="http://openweathermap.org/img/w/{{ weather_data2.icon }}" alt="{{ weather_data2.description }}">
    {% if displayed_forecasts2 %}
    <h2>Forecast</h2>
    <div class="forecast-container">
        {% for forecast in displayed_forecasts2 %}
        <div class="forecast">
            <h3>{{ forecast.datetime }}</h3>

            {% if forecast.temperature.min != forecast.temperature.max %}
                <p>Temperature: {{ forecast.temperature.min }}°C - {{ forecast.temperature.max }}°C</p>
            {% else %}
                <p>Temperature: {{ forecast.temperature.min }}°C</p>
            {% endif %}

            <p>Feels like: {{ forecast.feels_like }}°C</p>
            <p>{{ forecast.description }}</p>
            <img src="https://openweathermap.org/img/w/{{ forecast.icon }}" alt="{{ forecast.description }}">
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endif %}
